<div class="landing-container">
  <div class="logo">
    <img srcset="assets/images/logo.png 480w,
                 assets/images/logo@2x.png 800w"

            src="assets/images/Group\ 1.png">
  </div>
  <div class="illustration">
    <img srcset="assets/images/illustration.png 480w,
                assets/images/illustration@2x.png 800w,"

            src="assets/images/illustration.png">
  </div>
  <div class="copy">
    Get control over your time with WorkTimer
  </div>
  <app-cta></app-cta>
</div>
