@import "~/src/app/variables.scss";

.cta {
  background-color: $medium;

  margin-top: 2em;
  width: 350px;
  padding: .5em;

  border-radius: 4px;

  .cta-link {
    height: 30px;

    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;

    color: white;

    border-radius: 3px;
  }
  a {
    text-decoration: none;
  }
  .register {
    background-color: $hightlight2;
    margin-top: .5em;
  }
  .login {
    background-color: $light;
  }
}
